.slider {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}
.slider .slider-item,
.slider .slider-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}
.slider .slider-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}
.slider .slider-item img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
/* Navigation control styles */
.slider .slider-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top:50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}
.slider .slider-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.slider .slider-actions button#slider-button-prev {
    margin-left: 20px; /* prevent previous button from touching the side*/
}
.slider .slider-actions button#slider-button-next {
    margin-right: 20px;  /* prevent next button from touching the side*/
}
.slider-dots {
    text-align: center; 
}
.dot {
    opacity: 0.7; /* gray out dots for slides not being visted */
}
.dot:focus {
    border: 1px solid black; /* dot for currently visited slide */
}
/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.coll > button:active .aman{
    color: black;
}
.home-content{
    color: white;
    display: block;
    text-align: center;
}
.centerr{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.hello:hover{
    color: yellow;
}
.text1:hover{
    color:yellow;
}
.text1:focus {     
    background-color:blue;    
}
  .text1{
    font-size: 40px;
  }
#a-red{
    color: red;
    text-decoration: none;
  }
#myContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px;
}
#flagbtn{
    width: 400px;

}
#flagbtn > img{
    height: 70px;
    width: 70px;
    margin: 10px;
}
#flagbtn img:hover{
    scale: 1.1;
    transition: ease;
}
#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
}
.icon-img,.scrolltopbtn{
    transform: rotate(-90deg);
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}
.centered {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-emphasis-color: white;
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translate(-50%, -50%);
  }

#projects{
    padding-top: 60px;
}
#myteams section{
    margin-top: 60px;
}
#projects h1{
    text-align: center;
    margin: 10px;
}
.scrollbtn {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 10px;
    right:  10px;
}

.socials i{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.navbar{
    background-image: linear-gradient(red,black);
}
.nav-link{
    cursor: pointer;
}