
:root{
    --primary-color:rgb(220 53 69);
}
body{
    background-color: #000;
    color: white;
}

.slider {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}
.slider .slider-item,
.slider .slider-item-hidden {
    display: none; /* hide all slide images not currently being viewed */
}
.slider .slider-item-visible {
    display: block; /* show current slide image */
    animation: fadeVisibility 0.5s; /* for fading effect when switching between slides */
}
.slider .slider-item img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
/* Navigation control styles */
.slider .slider-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top:50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}
.slider .slider-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.slider .slider-actions button#slider-button-prev {
    margin-left: 20px; /* prevent previous button from touching the side*/
}
.slider .slider-actions button#slider-button-next {
    margin-right: 20px;  /* prevent next button from touching the side*/
}
.slider-dots {
    text-align: center; 
}
.dot {
    opacity: 0.7; /* gray out dots for slides not being visted */
}
.dot:focus {
    border: 1px solid black; /* dot for currently visited slide */
}
/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-title{
  color: var(--primary-color);
}
.coll > button:active .aman{
    color: black;
}
.home-content{
    color: white;
    display: block;
    text-align: center;
}
.centerr{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.hello:hover{
    color: var(--primary-color);
}
.text1:hover{
    color:var(--primary-color);
}
  .text1{
    font-size: 40px;
  }
#a-red{
    color: var(--primary-color);
    text-decoration: none;
  }
#myContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 20px;
}
#flagbtn{
    width: 400px;
}
#flagbtn > img{
    height: 70px;
    width: 70px;
    margin: 10px;
}
#flagbtn img:hover{
    scale: 1.1;
    transition: ease;
}
#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color:#6c757d;
}
.icon-img,.scrolltopbtn{
    transform: rotate(-90deg);
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}
@media screen and (max-height:770px) {
    h1,.text1{
        font-size: 25px;
    }

}
.myProgress {
    display: flex;
    margin: auto;
    width:60%;
    background-color: #000;
    border-radius: 50px;
  }
  #project,#myteam,#about,#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left ;
    color: white;
  }
  .myBar {
    border-radius: 50px;
    width: 10%;
    height: 20px;
    background-color: #6c757d;
    text-align: center;
    line-height: 20px;
    color: white;
    margin-left: 20px;
  }
  .myProgress > h5{
    color: white; 
    text-align: left;
    width: 100px;
}
h5:hover {
    color: var(--primary-color);
}
.centered {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-emphasis-color: white;
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translate(-50%, -50%);
  }

#projects{
    padding-top: 60px;
}
#myteams section{
    margin-top: 60px;
}
#projects h1{
    text-align: center;
    margin: 10px;
}
.scrollbtn {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 10px;
    right:  10px;
}

.socials i{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.nav-link{
    cursor: pointer;
}

.tab-titles {
    display: flex;
  }
  .tab-links {
    margin-right: 50px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
  }
  .tab-links:hover {
    color: var(--primary-color);
  }
  .tab-links::after {
    content: "";
    width: 0%;
    height: 3px;
    background:var(--primary-color);
    left: 0;
    bottom: -8px;
    position: absolute;
    transition: 0.5s;
  }
  .tab-links.active-link::after {
    width: 50%;
  }
  .skills li {
    margin: 20px, 0;
    padding: 10px;
  }
  .bar {
    background: white;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(025, 0.8, 0.25, 1);
    outline: none;
  }
  .bar span {
    height: 10px;
    float: left;
    background:var(--primary-color);
    border: none;
    outline: none;
  }

  .tab-contents {
    display: none;
  }
  .active-tab {
    display: block;
  }
  .tab-contents ul li {
    font-size: 18px;
    font-weight: 500;
  }
  .tab-contents ul li span {
    font-size: 20px;
    font-weight: 600;
  }
  .tab-contents h3 {
    margin: 10px 0;
    color:var(--primary-color);
  }