* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #eaddee;
}
::-webkit-scrollbar {
  display: none;
}

/* navbar */
.navbar {
  background-color: #ba90c6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.PMS-short {
  display: none;
}

@media screen and (max-width: 500px) {
  .PMS-full {
    display: none;
  }
  .PMS-short {
    display: block;
  }
}

/* title section  */
.addProductGif {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addProductGif > h2 {
  margin-top: 40px;
  text-align: center;
}

/* filter and sorting button  */
#filter-container {
  margin-top: 90px;
}
#filter-container,
#sorting-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#filter-container > select,
#filter-container > input,
#sorting-container > select {
  width: 15%;
  min-width: 150px;
}
#sorting-container > button {
  min-width: 70px;
}

/* form fields */
#form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 55%;
}
#input-fields {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.main-form {
  margin-bottom: 25px;
}
input ~ img {
  height: 110px;
  width: 100px;
}
.imageGroup {
  margin-bottom: 10px;
}
.imageGroup > input,
#myInput {
  height: 38px;
}
.h-form {
  height: 60px;
}
.formbtn {
  border: 1px solid black;
  margin-right: 2px;
  transition: transform 0.4s;
}
.formbtn:hover {
  border: 1px solid black;
  transform: translateY(-10px);
}

/* cards section (products) */
.card {
  height: 100%;
}
.card-body {
  height: 340px;
  overflow-y: auto;
  box-shadow: 3px 3px 15px #ba90c6;
}
.card-column {
  max-height: 340px;
}

/* no product img */
.nothingToSeeImg {
  width: 50%;
  height: 40%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  box-shadow: 5px 5px 10px #ba90c6;
}

@media screen and (max-width: 900px) { 
  #form-field {
    width: 70%;
  }
  .nothingToSeeImg {
    width: 65%;
    height: 40%;
  }
}
@media screen and (max-width: 650px) {
  #form-field {
    width: 80%;
  }
  .nothingToSeeImg {
    width: 80%;
    height: 40%;
  }
}
